.sidebar{
    background: #fff;
    width: 15%;
    height: 100vh;
    position: fixed;
    top: 0;
    padding-left: 2%;
    padding-top: 80px;
}

.shortcut-links {
    margin-top: 20px;
}

.shortcut-links a img {
    width: 20px;
    margin-right: 20px;
}

.shortcut-links a {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
}

.sidebar hr {
    border: 0;
    height: 1px;
    background: #ccc;
    width: 85%;
}

.subscribe-list h3 {
    font-size: 13px;
    margin: 20px 0;
    color: #5a5a5a;
}

.subscribe-list a {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
}

.subscribe-list a img {
    width: 25px;
    border-radius: 50%;
    margin-right: 20px;
}

.user-info {
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 40px;
    margin-left: 20px;
}
  
.user-photo img {
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    margin-right: 10px; 
}

.channel-name {
    margin-top: 25px;
}
  
.user-name {
    margin-top: 15px;
    font-size: 14px; 
    color: #333; 
}

.sidebar.small-sidebar .user-info {
    display: none;
}

.small-sidebar {
    width: 5%;
}

.small-sidebar a p {
    display: none;
}

.small-sidebar h3 {
    display: none;
}

.small-sidebar hr {
    width: 50%;
    margin-bottom: 25px;
}